#media-popup {
    --close-button-size: 100px;
    --caption-font-size: 1.5rem;
    --border-width: 10px;
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, .4);
    visibility: hidden;
    z-index: 999;
    border: none;
    user-select: none;
}

#media-popup[open] {
    visibility: visible;
}

#media-popup figure {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    aspect-ratio: 16 / 9;
    background: #000;
    margin: 0;
    border: var(--border-width) solid #000;
}

#media-popup figure button {
    all: unset;
    position: absolute;
    height: var(--close-button-size);
    width: var(--close-button-size);
    right: 0;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#media-popup figure button:before,
#media-popup figure button:after {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 56%;
    width: 7%;
    content: '';
    transform: translate(-50%, -50%) rotate(45deg);
    background: #fff;
}

#media-popup figure button:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

#media-popup figure div,
#media-popup figure div video,
#media-popup figure div img {
    height: 100%;
    width: 100%;
    outline: none;
    pointer-events: none;
}

#media-popup figure div img {
    object-fit: contain;
}

#media-popup figure figcaption {
    position: absolute;
    box-sizing: border-box;
    width: calc(100% + 1px);
    left: 0;
    bottom: -1px;
    padding: 30px;
    color: #fff;
    background: rgba(0, 0, 0, .6);
    visibility: hidden;
    font-size: var(--caption-font-size);
}

#media-popup figure figcaption.show {
    visibility: visible;
}